<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- /* 

head 태그를 조각(fragment)로 만든다

 */ -->
<head th:fragment="headFrag(title)">
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<script th:src="@{/js/lib/jquery-3.6.4.min.js}"></script>
</head>
<body>
	<!-- Link URL Expression : @{} -->
	<div th:fragment="gnbFrag">
		<div th:if=${#strings.isEmpty(session.loginId)}>
			<span><a th:href="@{/user/login.html}">로그인</a></span>
			<span><a th:href="@{/user/agree.html}">회원가입</a></span>
		</div>
		<div th:unless=${#strings.isEmpty(session.loginId)}>
			<span><a th:href="@{/user/checkPw.do}" th:text="${session.loginId}"></a>님 반갑습니다!\</span>
			<span><a th:href="@{/user/logout.do">로그아웃</a></span>
		</div>
		<ul>
		<li><a th:href="@{/bbs/list.do}">BBS</a></li>
		</ul>
	</div>
	<div id="pic"></div>
	<!-- /* 끔찍한 모양의 주석 */ -->
</body>
</html>